{
  "openapi": "3.0.1",
  "info": {
    "title": "Baselined.ai API",
    "description": "Comprehensive API documentation for Baselined.ai endpoints, including image and text AI-generated content detection.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.baselined.ai"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/image": {
      "post": {
        "summary": "Analyze an image to determine if it is AI-generated.",
        "description": "Analyzes an image to determine the confidence that it is AI-generated. You can provide either an `image_url` or a `media` (base64-encoded image), but not both.",
        "operationId": "analyzeImage",
        "tags": ["Image Analysis"],
        "requestBody": {
          "description": "Image to analyze. Provide either `image_url` or `media`.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "oneOf": [
                  {
                    "required": ["image_url"],
                    "properties": {
                      "image_url": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL of the image to analyze."
                      }
                    }
                  },
                  {
                    "required": ["media"],
                    "properties": {
                      "media": {
                        "type": "string",
                        "description": "Base64-encoded image data."
                      }
                    }
                  }
                ],
                "additionalProperties": false
              },
              "examples": {
                "ImageURL": {
                  "summary": "Provide image URL",
                  "value": {
                    "image_url": "https://example.com/image.jpg"
                  }
                },
                "Media": {
                  "summary": "Provide base64-encoded image",
                  "value": {
                    "media": "iVBORw0KGgoAAAANSUhEUgAA..."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "AI-generated image analysis result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ai_generated_score": {
                      "type": "number",
                      "format": "float",
                      "description": "Confidence score that the image is AI-generated, ranging from 0 to 1."
                    },
                    "media_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the analyzed image."
                    }
                  },
                  "required": ["ai_generated_score", "media_url"]
                },
                "examples": {
                  "Success": {
                    "summary": "Successful response",
                    "value": {
                      "ai_generated_score": 0.85,
                      "media_url": "https://example.com/media/image.jpg"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to invalid or missing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "MissingParameter": {
                    "summary": "Missing required parameter",
                    "value": {
                      "error": {
                        "type": "MissingParameterError",
                        "message": "Either image_url or media is required",
                        "code": 3002
                      }
                    }
                  },
                  "InvalidParameter": {
                    "summary": "Invalid parameter provided",
                    "value": {
                      "error": {
                        "type": "InvalidParameterError",
                        "message": "Provide either image_url or media, not both",
                        "code": 3003
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request due to invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Invalid API key",
                    "value": {
                      "error": {
                        "type": "UnauthorizedError",
                        "message": "Unauthorized: Invalid API key",
                        "code": 2001
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InternalError": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "type": "InternalError",
                        "message": "An unexpected error occurred while processing your request.",
                        "code": 9999
                      }
                    }
                  }
                }
              }
            }
          },
          "504": {
            "description": "Gateway timeout.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "TimeoutError": {
                    "summary": "Request timed out",
                    "value": {
                      "error": {
                        "type": "TimeoutError",
                        "message": "API request timed out",
                        "code": 1005
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/text": {
      "post": {
        "summary": "Analyze text to determine if it is AI-generated.",
        "description": "Analyzes text to determine the confidence that it is AI-generated. You can provide `text`, `file`, or `website`, along with optional parameters like `version`, `sentences`, and `language`. At least one of `text`, `file`, or `website` must be provided.",
        "operationId": "analyzeText",
        "tags": ["Text Analysis"],
        "requestBody": {
          "description": "Text to analyze along with optional parameters.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The text content to analyze."
                  },
                  "file": {
                    "type": "string",
                    "description": "URL or identifier for a file to analyze."
                  },
                  "website": {
                    "type": "string",
                    "description": "URL of the website to analyze."
                  },
                  "version": {
                    "type": "string",
                    "description": "Version of the analysis model to use.",
                    "default": "2.0"
                  },
                  "sentences": {
                    "type": "boolean",
                    "description": "Whether to analyze sentences individually.",
                    "default": true
                  },
                  "language": {
                    "type": "string",
                    "description": "Language of the text.",
                    "default": "en"
                  }
                },
                "oneOf": [
                  {
                    "required": ["text"]
                  },
                  {
                    "required": ["file"]
                  },
                  {
                    "required": ["website"]
                  }
                ],
                "additionalProperties": false
              },
              "examples": {
                "Text": {
                  "summary": "Provide text for analysis",
                  "value": {
                    "text": "Your text content here."
                  }
                },
                "File": {
                  "summary": "Provide file for analysis",
                  "value": {
                    "file": "https://example.com/document.pdf"
                  }
                },
                "Website": {
                  "summary": "Provide website URL for analysis",
                  "value": {
                    "website": "https://example.com"
                  }
                },
                "WithOptionalParameters": {
                  "summary": "Provide text with optional parameters",
                  "value": {
                    "text": "Your text content here.",
                    "version": "2.1",
                    "sentences": false,
                    "language": "es"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "AI-generated text analysis result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ai_generated_score": {
                      "type": "number",
                      "format": "float",
                      "description": "Confidence score that the text is AI-generated, ranging from 0 to 1."
                    },
                    "input_text": {
                      "type": "string",
                      "description": "The analyzed text content."
                    }
                  },
                  "required": ["ai_generated_score", "input_text"]
                },
                "examples": {
                  "Success": {
                    "summary": "Successful response",
                    "value": {
                      "ai_generated_score": 0.75,
                      "input_text": "Your text content here."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to invalid or missing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InvalidRequestFormat": {
                    "summary": "Invalid request format",
                    "value": {
                      "error": {
                        "type": "InvalidRequestFormat",
                        "message": "Invalid request format",
                        "code": 3001
                      }
                    }
                  },
                  "MissingParameter": {
                    "summary": "Missing required parameter",
                    "value": {
                      "error": {
                        "type": "MissingParameterError",
                        "message": "Either text, file, or website is required.",
                        "code": 3002
                      }
                    }
                  },
                  "InvalidParameter": {
                    "summary": "Multiple parameters provided",
                    "value": {
                      "error": {
                        "type": "InvalidParameterError",
                        "message": "Provide either text, file, or website, not multiple.",
                        "code": 3003
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request due to invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Invalid API key",
                    "value": {
                      "error": {
                        "type": "UnauthorizedError",
                        "message": "Unauthorized: Invalid API key",
                        "code": 2001
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InternalError": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "type": "InternalError",
                        "message": "An unexpected error occurred while processing your request.",
                        "code": 9999
                      }
                    }
                  }
                }
              }
            }
          },
          "504": {
            "description": "Gateway timeout.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "TimeoutError": {
                    "summary": "Request timed out",
                    "value": {
                      "error": {
                        "type": "TimeoutError",
                        "message": "API request timed out",
                        "code": 1005
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Error type."
              },
              "message": {
                "type": "string",
                "description": "Error message providing additional details."
              },
              "code": {
                "type": "integer",
                "description": "Specific error code."
              }
            },
            "required": ["type", "message", "code"]
          }
        },
        "required": ["error"]
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "A unique key used for authentication to access the API."
      }
    }
  },
  "tags": [
    {
      "name": "Image Analysis",
      "description": "Endpoints related to image AI-generated content detection."
    },
    {
      "name": "Text Analysis",
      "description": "Endpoints related to text AI-generated content detection."
    }
  ]
}
