{
  "openapi": "3.0.1",
  "info": {
    "title": "Baselined.ai API",
    "description": "API documentation for Baselined.ai endpoints for detecting AI-generated content in images and text.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.baselined.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/image": {
      "post": {
        "description": "Analyzes an image to determine the confidence that it is AI-generated.",
        "parameters": [],
        "requestBody": {
          "description": "Image to analyze.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string",
                    "description": "URL of the image to analyze."
                  }
                },
                "required": ["image_url"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "AI-generated image analysis result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ai_generated_score": {
                      "type": "number",
                      "format": "float",
                      "description": "Confidence score that the image is AI-generated, ranging from 0 to 1."
                    },
                    "media_url": {
                      "type": "string",
                      "description": "URL of the analyzed image."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to invalid or missing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request due to invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/text": {
      "post": {
        "description": "Analyzes text to determine the confidence that it is AI-generated.",
        "parameters": [],
        "requestBody": {
          "description": "Text to analyze.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The text content to analyze."
                  }
                },
                "required": ["text"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "AI-generated text analysis result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ai_generated_score": {
                      "type": "number",
                      "format": "float",
                      "description": "Confidence score that the text is AI-generated, ranging from 0 to 1."
                    },
                    "input_text": {
                      "type": "string",
                      "description": "The analyzed text content."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to invalid or missing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request due to invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Error type."
          },
          "message": {
            "type": "string",
            "description": "Error message providing additional details."
          },
          "code": {
            "type": "integer",
            "description": "Specific error code."
          }
        },
        "required": ["type", "message", "code"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
